.App {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

p {
  cursor: pointer;
  margin: 5px 0;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}


.featuredPupInfo {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}

.featuredPupInfo h2 {
  color: #333;
}

.featuredPupInfo ul {
  list-style-type: none;
  padding: 0;
}

.featuredPupInfo li {
  margin-bottom: 5px;
}
.puppList{
  flex-basis: 60%;
}
.featuredPupInfo{
  flex-basis: 30%;
  margin-left: 20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}